* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

header {
    display: flex;
    justify-content: space-between;
    height: 68px;
    padding: 0 3em;
    background: #001D45;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
}

.logo img{
    width: 121px;
    height: 125px;
    z-index: 7;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav ul li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 0.1em;
    border-bottom: 1px solid transparent;
    transition: .2s ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1.5em;
}

nav ul li a:hover{
    background: #5DDDFF;
    color: #252525;
}

.active {
    background: #5DDDFF;
    color: #252525;
}

.dropdown-link:focus {
    background: #5DDDFF;
    color: #252525;
}

.menu {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    transition: all .4s ease-in-out;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    transition: all .4s ease-in-out;
}

.bar::before {
    transform: translateY(-10px);
}

.bar::after {
    transform: translateY(10px);
}

.menu.open .bar {
    transform: translateX(-30px);
    background: transparent;
}

.menu.open .bar::before {
    transform: rotate(45deg) translate(20px, -20px);
}

.menu.open .bar::after {
    transform: rotate(-45deg) translate(20px, 20px);
}

.cover-container {
    background: url(/images/bg-3.jpeg);
}

.cover {
    height: 100vh;
    padding: 0 6em;
    background: #001D45;
    color: #fff;
    background: rgba(0 0 0 / 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 68px;
}

.cover .title {
    font-size: 84px;
    line-height: 56px;
    padding-top: 2em;
}

.subtitle {
    width: 60%;
    margin: 2em 1em 1em 0;
}

.subtitle h3 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 28px;
    line-height: 36px;
}

.subtitle p {
    font-size: 24px;
    line-height: 32px;
}

.categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cat-card {
    width: 30%;
    padding: 1.5em 1em;
    background: transparent;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.cat-card p {
    line-height: 28px;
}

.cat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.cat p{
    width: 60%;
    line-height: 28px;
    font-size: 20px;
    margin-right: 4em;
    color: #fff;
}

.para {
    opacity: 0;
}

.we {
    padding: 10em;
}

.upper-grp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.upper-grp .text {
    width: 47%;
}

.upper-grp .text h3{
    font-size: 24px;
    line-height: 32px;
    color: #001D45;
}

.upper-grp .text p{
    margin-top: 2em;
    line-height: 24px;
    font-size: 18px;
}

.pic {
    position: relative;
}

.pic img {
    object-fit: fill;
}

.overlay {
    background: rgba(0, 29, 69, 0.9);
    width: 10em;
    height: 10em;
    position: absolute;
    right: -40px;
    bottom: -40px;
}

.lower-grp {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.text-subtitle {
    display: flex;
    align-items: center;
}

.text-subtitle h3 {
    color: #001D45;
    font-size: 24px;
    line-height: 32px;
    margin-right: 2em;
}

.details p {
    font-size: 18px;
    line-height: 24px;
}

.overlay-container {
    width: 40px;
    height: 40px;
    position: relative;
}

.mini-overlay-1 {
    position: absolute;
    width: 27px;
    height: 27px;
    background: rgba(0, 29, 69,0.9);
    bottom: 0;
    left: 0;
}

.mini-overlay-2 {
    position: absolute;
    width: 27px;
    height: 27px;
    background: rgba(0, 29, 69,0.9);
    top: 0;
    right: 0;
}

.text-content {
    width: 47%;
}

.details {
    margin-top: 2em;
}

.core-pillars {
    padding: 5em;
}

.core-title {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 1em;
    color: #001D45;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.card {
    border: 1px solid #0177B2;
    padding: 2em;
    border-radius: 10px;
    line-height: 25px;
    transition: .4s ease-in-out;
}

.card:hover {
    background: rgba(133, 184, 255, 0.1);
    border: 1px solid transparent;
}

.card-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1em;
    color: #0177B2;
}

.card-details p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.vision {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10em;
    background: linear-gradient(to right, #fff, #fef8df);
}

.vision-card {
    border: 1px solid #001D45;
    width: 45%;
    height: 250px;
    padding: 2em;
    border-radius: 5px;
    line-height: 25px;
    color: #001D45;
    transition: .3s ease;
}

.vision-card p {
    font-size: 18px;
    line-height: 24px;
}

.title-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    height: 70px;
}

.title-flex h3 {
    font-size: 28px;
    line-height: 36px;
    transition: .3s ease;
}

.title-flex img {
    width: 40px;
    transition: .3s ease;
}

.more-info {
    padding: 6em;
    position: relative;
    height: 500px;
    margin-bottom: 100px;
    background: #5DDDFF;
    color: #001D45;
}

.more-info-text {
    width: 50%;
}

.more-info-text h2 {
    font-size: 48px;
    line-height: 56px;
    margin: 1em 0;
}

.more-info-text p {
    line-height: 24px;
    font-size: 18px;
}

.enquiry {
    padding: 15px 30px;
    height: 62px;
    width: 139px;
    background: #001D45;
    color: #fff;
    cursor: pointer;
    margin-top: 2em;
    font-size: 24px;
    line-height: 32px;
    border: none;
    transition: all .3s ease-in-out;
    display: flex;
}

.btn-img {
    margin-left: 1em;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.enquiry-img {
    margin-left: 1em;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.more-info-img {
    position: absolute;
    bottom: -50px;
    right: 250px;
}

.more-info-img img {
    width: 300px;
    display: block;
}

.img-overlay {
    width: 300px;
    height: 275px;
    background: #0177B2;
    position: absolute;
    bottom: -65px;
    right: 270px;
    border-radius: 60px;
    box-shadow: -5px 1px 40px 2px #0177B2;
}

footer {
    margin-top: 2em;
    background:  #001D45;
    color: #fff;
    padding-top: 3em;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 6em auto;
    
}

.footer-flex-item {
    line-height: 28px;
    font-size: 20px;
}

.top {
    margin-bottom: 1.5em;
}

.footer-flex-item li {
    list-style: none;
    margin-bottom: .5em;
}

.copyright {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 2em;
}



/* HISTORY PAGE */

.history-cover {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 169px;
    padding-top: 0 !important;
}

.history-cover h2 {
    font-size: 94px;
    line-height: 56px;
}

.history-cover p {
    font-size: 24px;
    line-height: 32px;
}

.history-text {
    padding: 6em;
}

.subheading {
    font-size: 24px;
    line-height: 32px;
    color: #001D45;
    margin-bottom: 1.5em;
}

.history-details {
    font-size: 20px;
    line-height: 28px;
    color: #001D45;
}

/* INSIGHTS PAGE */

.insight-cover {
    /* background: ; */
    padding-left: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0 !important;
}

.main-content {
    padding: 6em;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.insights-container {
    width: 60%;
   
}

.insights-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.insight-card img{
    width: 100%;
}

.insight-card-title {
    margin: 1em 0;
}

.insight-card-dets {
    font-size: 14px;
    line-height: 24px;
}

.read-more {
    color: #5DDDFF;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid transparent;
    transition: .4s ease-in-out;
}

.read-more:hover {
    border-bottom: 1px solid #5DDDFF;
}

.insight-card-foot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}

.insight-btn {
    margin-top: 3em;
}

.insight-btn button {
    font-size: 24px;
    width: 108px;
    line-height: 32px;
    color: #fff;
    padding: .5em 1em;
    background: #5DDDFF;
    border: 1px solid transparent;
    transition: .5s ease-in-out;
    display: flex;
}

.insight-aside {
    width: 29%;
}

.searchbar {
    border: 1px solid #808080;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}

.searchbar input {
    width: 70%;
    height: 100%;
    margin: 0;
    border: none;
    padding: .5em 1em;
    outline: none;
    color: #001D45;
    font-size: 14px;
    line-height: 28px;
}

.searchbar input::placeholder {
    color: #E5E5E5;
    font-size: 14px;
    line-height: 28px;
}

#search-btn {
    width: 30%;
    margin: 0;
    height: 100%;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding: .5em 1em;
    background: #001D45;
    color: #fff;
    cursor: pointer;
}

.insight-aside h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 1em 0;
    color: #001D45;
}

.category-list {
    list-style: none;
}

.category-list li{
    margin: 1em 0;
}

.category-list li a{
    color: #001D45;
    font-size: 14px;
    line-height: 24px;
    transition: all .3s ease-in-out;
}

.active-link {
    color: #5DDDFF !important;
    font-size: 20px !important;
    line-height: 24px;
}

.category-list li a:hover{
    color: #5DDDFF !important;
    font-size: 20px !important;
    line-height: 24px;
}

/* CAREERS PAGE */

.career-banner {
    position: relative;
    height: 100vh;
    background: url(/images/Rectangle\ 22\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.career-banner img {
    display: block;
    width: 100%;
    
}

.career-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 45%;
    margin-left: 169px;
}

.career-cover h2 {
    font-size: 94px;
    line-height: 56px;
    color: #fff;
}

.career-cover p {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-top: 1em;
}

.career-container {
    padding: 3em 6em;
}

.career-header {
    color: #001D45;
    margin-top: 2em;
}

.career-header h2 {
    font-size: 40px;
    line-height: 48px;
}

.career-header p {
    font-size: 16px;
    line-height: 24px;
    margin-block: 1.5em;
}

.career-main {
    width: 75%;
    margin: 3em auto;
}

.career-main-img {
    margin-bottom: 2em;
}

.career-main-img img{
    width: 100%;
    display: block;
    height: 336px;
    object-fit: cover;
}

.career-card-flex {
    display: flex;
    justify-content: space-between;
}

.career-card {
    width: 46%;
    color: #001D45;
}

.career-card-title {
    font-size: 22px;
    line-height: 24px;
}

.career-card p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.career-btn {
    font-size: 24px;
    line-height: 32px;
    width: 172px;
    color: #fff;
    padding: 15px 30px;
    background: #0177B2;
    border: 1px solid transparent;
    transition: all .5s ease;
}

#btn-imgA {
    opacity: 0;
    display: none;
}

#btn-imgB {
   opacity: 0;
   display: none;
}

/* CONTACT PAGE */

.contact-cover {
    background-image: url(/images/Rectangle\ 22\ \(2\).png);
    padding-top: 0 !important;
}

.contact-container {
    padding: 6em 11em;
    padding-top: 162px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 1em;
}

.contact-q-container {
    background: #001D45;
    padding: 7em 12em;
    color: #fff;
}

.question {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 1em;
}

.options {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1em;
    margin-left: 1.5em;
}

.answer {
   display: flex;
   align-items: center;
   padding: .3em .5em;
   text-align: left;
   border: 1px solid #808080;
   border-radius: 6px;
   background: transparent;
   transition: all .4s ease-in-out;
}

.answer:hover {
    background: rgba(1, 119, 178, .2);
}

.label {
    padding: .5em;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    font-size: 14px;
    line-height: 32px;
    color: #001D45;
}

.answer-text {
    color: #fff;
    margin-right: 2em;
    font-size: 18px;
    line-height: 24px;
}

.tick {
    display: none;
}

.contact-btn {
    padding: 15px 30px;
    padding-left: 15px;
    font-size: 24px;
    width: 111px;
    height: 52px;
    line-height: 32px;
    margin-top: 1.5em;
    background: #5DDDFF;
    border: none;
    color: #fff;
    margin-left: 1em;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}

.contact-btn2 {
    padding-left: 15px;
}

/* EARLY CAREER PAGE */

.top-band {
    height: 30px;
    width: 100%;
    background: #85B8FF;
}

.top-band-B{
    height: 30px;
    width: 100%;
    background: #00A8A8;
}

.early-career-container {
    padding: 4em 10em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.back {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    font-size: 16px;
    line-height: 24px;
    color: #252525;
}

.back img {
    margin-right: 1em;
    width: 15px;
}

.early-career-text {
    color:  #252525;
}

.early-career-text h3 {
    font-size: 24px;
    line-height: 32px;
}

.early-career-text p {
    margin: 2em 0;
    font-size: 14px;
    line-height: 24px;
}

.early-career-content {
    width: 45%;
    margin-left: 3em;
    margin-top: 2em;
}

.early-career-img {
    width: 45%;
}

.early-career-img img{
    width: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: .3em;
    margin-bottom: 1em;
}

.form-section label {
    font-size: 16px;
    line-height: 24px;
    color: #252525;
}

.select-wrapper {
    width: 100%;
    border: 1px solid #808080;
    padding-inline: 1em;
    border-radius: 2px;
    transition: all .4s ease-in-out;
}

.select-wrapper select {
    width: 100%;
    height: 100%;
    padding-block: 1em;
    border: none;
    outline: none;
    color: #252525;
    font-size: 14px;
    line-height: 24px;
}

.select-wrapper:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.early-career-btn {
    border: none;
    background: #0177B2;
    width: 131px;
    height: 62px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    margin-top: 1.5em;
}

/* About Us page */

.about-us-cover {
    height: 100vh;
    background: url(/images/Rectangle\ 23\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-inline: 12em;
}

.about-us-cover h3 {
    color: #fff;
    font-size: 98px;
    line-height: 90px;
    width: 80%;
}

.about-us-main {
    padding-inline: 11em;
    padding-bottom: 5em;
}

.about-us-title h3 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #001D45;
    margin-block: 2em;
}

.about-us-main h4 {
    font-size: 28px;
    line-height: 36px;
    color: #001D45;
    margin-block: 1em;
}

.about-us-main p {
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.p-flex {
    display: flex;
    justify-content: space-between;
}

.p-flex-item {
    width: 45%;
}

.p-flex-item ul {
    padding-left: 1.5em;
}

.story-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.story-text {
    width: 60%;
}

.story-text h4 {
    margin-block: .5em;
}

.story-text p {
    line-height: 28px;
}

.story-text ul {
    line-height: 28px;
    padding-left: 1em;
}

.story-img {
    width: 40%;
}

.about-more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2em;
    height: auto;
    margin-bottom: 0;
}

.about-more-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.about-more-info-text h2 {
    font-size: 1.6rem;
    line-height: 24px;
    width: 50%
}

.about-more-info-text p {
    width: 50%
}


.about-footer {
    margin-top: 0;
}

.dropdown-link {
    position: relative;
}

.dropdown {
    height: max-content;
    position: absolute;
    display: block;
    width: 280px;
    flex-direction: column;
    top: 90px;
    left: auto;
    background: #fff;
    padding: 2em;
    box-sizing: content-box;
    border-radius: 16px;
    margin-left: 200px;
}

.dropdown2 {
    right: 6em;
}

.dropdown li a {
    display: block;
    padding: 1em;
    width: 100%;
    border-radius: 10px;
}

.dropdown h3 {
    font-size: 16px;
    line-height: 24px;
    color: #001D45;
}

.dropdown p {
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}

.dropdown li a:hover {
    background: rgba(133, 184, 255, .3);
}

.dropdown-active {
    opacity: .3;
    cursor: not-allowed;
}

.hide-dropdown {
    display: none;
}

/* FUNDS PAGE */

.our-funds-cover {
    height: 100vh;
    background: url(/images/Rectangle\ 23.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 12em;
}

.our-funds-cover h3 {
    color: #fff;
    font-size: 94px;
    line-height: 56px;
    width: 60%;
}

.our-funds-cover p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    width: 60%;
    margin-top: 1em;
}

.fund-main {
    padding-inline: 11em;
    padding-bottom: 5em;
}

.fund-main h3 {
    font-size: 40px;
    line-height: 48px;
    color: #001D45;
}

.fund-main h4 {
    font-size: 24px;
    line-height: 32px;
    color: #000;
}

.fund-main p {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.about-the-fund {
    margin-block: 3em;
}

.about-the-fund h4 {
    font-size: 28px;
    line-height: 36px;
    color: #001D45;
    margin-block: .5em;
}

.thesis h3 {
    text-align: center;
    margin-block: 1em;
}

.thesis-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.thesis-item h4 {
    margin-bottom: 1em;
}

.structure-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.structure-heading {
    margin-bottom: 2em;
    text-align: center;
}

.structure-heading p{
    font-size: 20px;
    line-height: 28px;
}

/* PRODUCTS PAGE */

.our-products-cover {
    height: 100vh;
    background: url(/images/Rectangle\ 23.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 12em;
}

.our-products-cover h3 {
    color: #fff;
    font-size: 94px;
    line-height: 56px;
    width: 60%;
}

.products-main {
   padding-inline: 11em;
    padding-bottom: 5em; 
}

.product-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
}

.product-text {
    width: 45%;
}

.product-text h3 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: .5em;
}

.product-text p {
    font-size: 14px;
    line-height: 28px;
}

.product-img {
    width: 45%;
}

.product-img img {
    display: block;
    width: 100%;
}

/* portfolio page */

.logo-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3em 114px;
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 2em;
}

.logo-card .img {
    width: 242px;
    height: 102px;
}

.logo-card .img img {
    width: 100%;
}

.logo-card-title {
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

.logo-card-title h3 {
    font-size: 18px;
    line-height: 24px;
}


/* INVESTOR PAGE */

.investor-cover {
    height: 100vh;
    background: url(/images/Rectangle\ 23.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 12em;
}

.investor-cover h3 {
    color: #fff;
    font-size: 94px;
    line-height: 56px;
    width: 80%;
}

.investor-cover p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    width: 60%;
    margin-top: 2em;
}

.investor-main {
   padding-inline: 11em;
    padding-bottom: 5em; 
}

.investors {
    margin-block: 4em;
}

.investors h3 {
    font-size: 40px;
    line-height: 48px;
    color: #001D45;
}

.investors p {
    font-size: 20px;
    line-height: 28px;
    margin-block: .5em;
}

.investees h3 {
    font-size: 40px;
    line-height: 48px;
    color: #001D45;
}

.investees p {
    font-size: 20px;
    line-height: 28px;
    margin-block: .5em;
    width: 50%;
}

fieldset {
    padding: 3em 6em;
    width: 65%;
    margin: 0 auto;
    margin-top: 3em;
}

legend {
    text-align: center;
    color: #808080;
    font-size: 18px;
    line-height: 24px;
    padding-inline: .5em;
}


.form-section input {
    border: 1px solid #252525;
    padding: 1.2em;
    padding-left: 1.5em;
    border-radius: 2px;
    outline: none;
    color: #252525;
    transition: .3s ease-in-out;
}

.form-section input::placeholder {
    color: #252525;
}

.form-section input:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.form-btn {
    float: left;
    margin-top: 1em;
}



/* about us page (sthenic finance) */

.our-strategy {
    padding: 11em;
    display: flex;
    align-items: center;
    background: url(/images/Rectangle\ 31.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3em;
}

.strategy-text {
    width: 50%;
}

.strategy-text h3 {
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: .5em
}

.strategy-text p {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

/* our services page */

.our-services-header {
    background: url(/images/women.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-services-cover {
    height: 100vh;
    background: rgba(0 0 0 / 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 10em;
}

.our-services-cover h3 {
    color: #fff;
    font-size: 92px;
    line-height: 90px;
    width: 60%;
}

.services-main {
   padding-inline: 6em;
    padding-bottom: 5em; 
}

.services-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
}

.services-text {
    width: 45%;
}

.services-text h3 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: .5em;
}

.services-text p {
    font-size: 14px;
    line-height: 28px;
}

.services-img {
    width: 45%;
}

.services-img img {
    display: block;
    width: 100%;
}

/* CAPABILITIES PAGE */

.capabilities-header {
    background: url(/images/dart.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.capabilities-cover {
    height: 100vh;
    background: rgba(0 0 0 / 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 10em;
}

.capabilities-cover h3 {
    color: #fff;
    font-size: 92px;
    line-height: 90px;
    width: 60%;
}

.capabilities-main {
   padding-inline: 12em;
    padding-block: 5em; 
}

.cap-grp-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.cap-grp-item {
    width: 30%;
}

.cap-grp-header {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .5em;
    margin-bottom: .5em;
}

.cap-grp-header h4 {
    font-size: 20px;
    line-height: 28px;
    color: #001D45;
}

.img-stack {
    display: grid;
    gap: .5em;
    padding: 2em;
    background: transparent;
}

.img-stack img {
    margin: 0 auto;
    display: block;
    width: 100%;
}


/* DEALBOOK PAGE */

.dealbook-header {
    background: url(/images/hand.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dealbook-cover {
    height: 100vh;
    background: rgba(0 0 0 / 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 10em;
}

.dealbook-cover h3 {
    color: #fff;
    font-size: 92px;
    line-height: 90px;
    width: 60%;
}

.dealbook-main {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-block: 4em;
}

.dealbook-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.dealbook-wrapper a {
    color: #001D45;
    font-size: 24px;
    line-height: 32px;
}

.dealbook-wrapper a:hover {
    text-decoration: underline;
}

.dealbook-wrapper img {
    margin-top: 1em;
}

.dealbook-form-container {
    margin-top: 68px;
    padding: 35px 260px;
}

.dealbook-form {
    width: 60%;
    margin: 0 auto;
}

.dealbook-heading {
    margin-block: 2em;
}

.dealbook-heading h4 {
    font-size: 20px;
    line-height: 28px;
    color: #001D45;
    margin-bottom: 1em;
}

.dealbook-heading p {
    font-size: 18px;
    line-height: 24px;
}

.dealbook-btn {
    margin: 0 auto;
    margin-top: 2em;
    background: #001D45;
}



/* RESPONSIVENESS */

/* small screen laptop */

@media screen and (max-width: 1024px) {
    .cover {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 68px;
    }

    .cover .title {
        font-size: 3.5rem;
    }

    .cat-card {
        width: 45%;
    }

    .we {
        padding: 7em 5em;
    }

    .pic {
        width: 50%;
        height: 100%;
    }

    .pic img {
        width: 100%;
        display: block;
        object-fit: fill;
    }

    .overlay {
        background: rgba(0, 29, 69, 0.9);
        width: 7em;
        height: 7em;
    }

    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .vision {
        padding: 7em;
    }

    .more-info {
        padding: 4em;
    }

    .more-info-text {
        width: 58%;
    }
    
    .more-info-img {
        position: absolute;
        bottom: -50px;
        right: 60px;
    }
    
    .more-info-img img {
        width: 300px;
        display: block;
    }
    
    .img-overlay {
        width: 300px;
        height: 275px;
        background: #0177B2;
        position: absolute;
        bottom: -65px;
        right: 80px;
        border-radius: 60px;
        box-shadow: -5px 1px 40px 2px #0177B2;
    }

    .main-content {
        padding: 5em;
    }

    .contact-container {
        padding: 6em;
        padding-top: 3em;
    }

    .contact-q-container {
        background: #001D45;
        padding: 7em;
        color: #fff;
    }

    /* sthenic cap mgt group */

    .about-us-cover {
        padding-inline: 10em;
    }
    
    .about-us-cover h3 {
        width: 80%;
    }

    .about-us-main {
        padding-inline: 6em;
        padding-bottom: 4em;
        width: 100%;
    }

    .story-text {
        width: 50%;
    }

    .story-img {
        width: 50%;
    }

    .about-more-info-text {
        width: 100%;
    }

    .our-funds-cover h3 {
        width: 80%;
    }
    
    .our-funds-cover p {
        width: 90%;    
    }

    .fund-main {
        padding-inline: 6em;
    }

    .products-main {
        padding-inline: 5em;
        padding-bottom: 5em; 
    }

    .investor-main {
        padding-inline: 6em;
        padding-bottom: 5em; 
    }

    /* sthenic financial group */

    .about-us-cover {
        padding-inline: 6em;
    }
    
    .about-us-cover h3 {
        width: 90%;
    }

    .about-us-main {
        padding-inline: 6em;
        padding-bottom: 4em;
        width: 100%;
    }

    .our-strategy {
        padding: 6em;
        height: max-content;
    }

    .strategy-text {
        width: 100%;
    }

    .our-services-cover {
        padding-inline: 6em;
    }
    
    .our-services-cover h3 {
        width: 90%;
    }

    .services-main {
        padding-inline: 3em;
        padding-bottom: 4em;
        width: 100%;
    }

    .services-flex {
        height: max-content;
    }

    .services-img {
        width: 48%;
    }

    .services-img img {
        height: 370px !important;
        object-fit: fill;
    }

    .services-text {
        width: 48%;
    }

    .capabilities-cover {
        padding-inline: 6em;
    }
    
    .capabilities-cover h3 {
        width: 90%;
    }

    .capabilities-main {
        padding-inline: 3em;
        padding-bottom: 4em;
        width: 100%;
    }

    .dealbook-cover {
        padding-inline: 6em;
    }
    
    .dealbook-cover h3 {
        width: 90%;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .cap-nav ul li a {
        font-size: .7rem;
    }

    .cover {
        height: 100vh;
        display: flex;
        padding-inline: 3em;
        flex-direction: column;
        justify-content: center;
        padding-top: 68px;
    }

    .cover .title {
        font-size: 2.3rem;
    }

    .subtitle {
        width: 75%;
    }

    .subtitle h3 {
        margin-bottom: .5em;
        font-size: 1.4rem;
    }
    
    .subtitle p {
        font-size: 1rem;
        line-height: 32px;
    }

    .categories {
        width: 100%;
        padding-inline: 0;
    }

    /*  */

    .categories {
        width: 100%;
        flex-direction: column;
    }

    .cat-card {
        width: 90%;
        height: auto !important;
        justify-content: space-between;
        padding: 1em !important;
        border: 1px solid #fff;
        margin-top: 2em;
    }

    .cat-link {
        width: 100% !important;
        font-size: 16px !important;
    }

    .cat-icon {
        display: none;
    }

    .cat {
        width: 100%;
        margin-bottom: 0 !important;
    }

    .para {
        display: none;
    }

    .cat p {
        width: 80%;
        padding: 0;
        margin: 0;
        font-size: 18px;
    }

    .cat-icon {
        width: max-content;
    }

    .upper-grp {
        flex-direction: column;
        width: 100%;
    }

    .text {
        width: 100% !important; 
        margin-bottom: 2em;
    }

    .upper-grp .text p{
        margin-top: 2em;
        line-height: 24px;
        font-size: 16px;
    }

    .details p {
        font-size: 16px;
        line-height: 24px;
    }

    .pic {
        width: 100%;
    }

    .we {
        padding: 7em 5em;
    }

    .pic img {
        width: 100%;
        display: block;
        object-fit: fill;
    }

    .overlay {
        background: rgba(0, 29, 69, 0.9);
        width: 7em;
        height: 7em;
    }

    .core-pillars {
        padding: 3em;
    }

    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-title {
        font-size: 16px;
    }

    .vision {
        padding: 4em;
    }

    .title-flex {
        margin-bottom: 0;
        padding-block: 1em !important;
    }

    .vision-card p {
        font-size: 14px;
        line-height: 20px;
    }

    .title-flex h3 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .title-flex img {
        width: 25px;
    }

    .more-info {
        padding: 3em;
    }

    .more-info-text {
        width: 80%;
    }
    
    .more-info-img {
        display: none;
    }
    
    .more-info-img img {
        width: 300px;
        display: block;
    }
    
    .img-overlay {
        display: none;
    }

    footer {
        padding-inline: 1em;
    }

    .footer-flex {
        width: 90%;
    }

    .footer-flex-item {
        line-height: 28px;
        font-size: 16px;
    }

    .main-content {
        padding: 3em;
    }

    .insights-container {
        width: 65%;
    }

    .insight-aside {
        width: 30%;
    }

    .insight-card-title {
        margin: .5em 0;
        font-size: 16px;
    }
    
    .insight-card-dets {
        font-size: 12px;
        line-height: 20px;
    }

    .searchbar input {
        padding: .5em 1em;
        font-size: 12px;
        line-height: 20px;
    }
    
    .searchbar input::placeholder {
        color: #E5E5E5;
        font-size: 12px;
        line-height: 20px;
    }
    
    #search-btn {
        font-size: 12px;
        line-height: 24px;
        padding: .5em 1em;
    }

    .active-link {
        font-size: 18px !important;
    }
    
    .category-list li a:hover{
        font-size: 18px !important;
    }

    .insight-btn button {
        font-size: 20px;
        line-height: 28px;
        padding: .4em 1em;
    }

    .contact-container {
        padding: 6em;
        padding-top: 3em;
    }

    .contact-q-container {
        padding: 4em;
    }

    .options {
        width: 85%;
    }

    .answer-text {
        font-size: 16px;
        line-height: 24px;
    }

    .career-cover {
        width: 70%;
        margin-left: 100px;
    }
    
    .career-cover h2 {
        font-size: 56px;
        line-height: 56px;
        color: #fff;
    }
    
    .career-cover p {
        font-size: 20px;
        line-height: 32px;
        color: #fff;
        margin-top: 1em;
    }

    .career-main {
        width: 100%;
    }

    .top-band, .top-band-B {
        display: none;
    }

    .early-career-img {
        display: none;
    }

    .early-career-container {
        padding: 5em;
        margin-top: 69px;
    }

    .early-career-content {
        width: 100%;
        margin-left: 0;
    }

    /* sthenic cap mgt group */

    .about-us-cover {
        padding-inline: 7em;
    }
    
    .about-us-cover h3 {
        width: 100%;
        font-size: 56px;
        line-height: 68px;
    }

    .about-us-main {
        padding-inline: 4em;
        padding-bottom: 4em;
        width: 100%;
    }

    .p-flex {
        flex-direction: column;
    }

    .p-flex-item {
        width: 100%;
    }

    .story-flex {
        flex-direction: column;
    }

    .story-text {
        width: 100%;
    }

    .story-img {
        width: max-content;
    }

    .about-more-info-text {
        width: 100%;
        padding-inline: 0;
    }

    .about-more-info-text h2,
    .about-more-info-text p {
        width: 80%;
    }

    .our-funds-cover {
        padding-inline: 6em;
    }

    .our-funds-cover h3 {
        width: 100%;
        font-size: 56px;
        line-height: 68px;
    }
    
    .our-funds-cover p {
        width: 100%;    
    }

    .fund-main {
        padding-inline: 4em;
    }

    .thesis-grid {
        grid-template-columns: 1fr;
    }

    .thesis-item h4 {
        margin-bottom: 0.5em;
    }

    .structure-img {
        width: 100%;
    }

    .structure-img img {
        width: 100%;
    }

    .our-products-cover {
        padding-inline: 6em;
    }

    .our-products-cover h3 {
        width: 100%;
        font-size: 56px;
        line-height: 68px;
    }

    .products-main {
        padding-inline: 2em;
        padding-bottom: 5em; 
    }

    .investor-cover {
        padding-inline: 6em;
    }

    .investor-cover h3 {
        width: 100%;
        font-size: 56px;
        line-height: 68px;
    }

    .investor-cover p {
        width: 100%;
    }

    .investor-main {
        padding-inline: 5em;
        padding-bottom: 5em; 
    }

    .investees {
        margin-top: 3em;
    }

    .investees p {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }

    .logo-wrapper {
        padding-inline: 3em;
        grid-template-columns: repeat(2, 1fr);
    }


    /* sthenic financial group */

    .about-us-cover {
        padding-inline: 6em;
    }
    
    .about-us-cover h3 {
        width: 90%;
        font-size: 56px;
        line-height: 68px;
    }

    .about-us-main {
        padding-inline: 6em;
        padding-bottom: 4em;
        width: 100%;
    }

    .our-strategy {
        padding: 6em;
        height: max-content;
    }

    .strategy-text {
        width: 100%;
    }

    .our-services-cover {
        padding-inline: 6em;
    }
    
    .our-services-cover h3 {
        width: 90%;
        font-size: 56px;
        line-height: 68px;
    }

    .services-main {
        padding-inline: 3em;
        padding-bottom: 4em;
        width: 100%;
    }

    .services-flex {
        height: max-content;
    }

    .services-img {
        width: 48%;
    }

    .services-img img {
        height: 370px !important;
        object-fit: fill;
    }

    .services-text {
        width: 48%;
    }

    .capabilities-cover {
        padding-inline: 6em;
    }
    
    .capabilities-cover h3 {
        width: 90%;
        font-size: 56px;
        line-height: 68px;
    }

    .capabilities-main {
        padding-inline: 3em;
        padding-bottom: 4em;
        width: 100%;
    }

    .dealbook-cover {
        padding-inline: 6em;
    }
    
    .dealbook-cover h3 {
        width: 90%;
        font-size: 56px;
        line-height: 68px;
    }

    .dealbook-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .dealbook-form-container {
        padding: 6em;
    }

    .dealbook-form {
        width: 100%;
    }


}

/* mobile */

@media screen and (max-width: 425px) {
    header {
        height: 58px;
        padding: 0 2em;
        position: relative;
        position: fixed;
        top: 0;
    }

    .logo img{
        width: 58px;
        height: 58px;
        position: relative;
        z-index: 7;
    }

    nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 58px;
        transform: translateY(-400px);
        opacity: 0;
        z-index: 3;
        transition: all 0.6s ease-in-out;
    }

    nav ul {
        flex-direction: column;
        background: #001D45;
        width: 100%;
        align-items: flex-end;
        gap: 1.5em;
        padding: 1em 0;
        z-index: 2;
    }

    nav ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li a {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: right;
    }

    .menu {
        display: flex;
    }

    .show {
        transform: translateY(0%);
        opacity: 1;
    }

    .cover {
        padding: 0 2em;
    }

    .cover .title {
        font-size: 2.1rem;
        padding-top: 3em;
    }

    .subtitle {
        width: 100%;
    }

    .subtitle h3 {
        margin-bottom: .5em;
        font-size: 1.4rem;
    }
    
    .subtitle p {
        font-size: 1rem;
        line-height: 32px;
    }

    .categories {
        width: 100%;
        flex-direction: column;
    }

    .cat-card {
        width: 100%;
        justify-content: space-between;
        padding: 1em !important;
        border: 1px solid #fff;
        margin-top: 1em;
    }

    .cat-link {
        width: 100% !important;
        font-size: 16px !important;
    }

    .cat-icon {
        display: none;
    }

    .cat {
        width: 100%;
        margin-bottom: 0 !important;
    }

    .cat a{
        width: 100%;
        font-size: 12px;
        line-height: 20px;
    }

    .para {
        display: none;
    }

    .we {
        padding: 3em;
    }

    .overlay {
        display: none;
    }

    .lower-grp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5em;
    }

    .text-content {
        width: 100%;
        margin-bottom: 2em;
    }

    .core-pillars {
        padding: 2em;
    }

    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .vision {
        padding: 2em;
        flex-direction: column;
    }

    .vision-card {
        width: 100%;
        margin-bottom: 2em;
        /* height: 350px; */
    }

    #v-card2 {
        height: 300px !important;
    }

    .title-flex {
        margin-bottom: 1em;
        height: 60px;
    }

    .more-info {
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .more-info-text {
        width: 100%;
    }

    .more-info-text h2 {
        font-size: 1.7rem;
        line-height: 32px;
    }

    .enquiry {
        font-size: 1rem;
    }

    .footer-flex {
        flex-direction: column;
        align-items: flex-start;
        margin-block: 3em;
    }

    .bottom {
        margin-bottom: 1em;
    }

    .footer-flex-item ul {
        display: flex;
        margin-top: 2em;
        gap: 1em;
    }

    .history-cover {
        height: 400px;
    }

    .history-cover h2 {
        font-size: 52px;
        line-height: 56px;
    }
    
    .history-cover p {
        font-size: 20px;
        line-height: 32px;
    }

    .history-text {
        padding: 2em;
    }
    
    .subheading {
        font-size: 20px;
        line-height: 32px;
        color: #001D45;
        margin-bottom: 1.5em;
    }
    
    .history-details {
        font-size: 16px;
        line-height: 28px;
        color: #001D45;
    }

    .main-content {
        flex-direction: column;
    }

    .insights-container {
        order: 2;
        width: 100%;
    }

    .insight-aside {
        order: 1;
        width: 100%;
        margin-bottom: 3em;
    }

    .insights-card-wrapper {
        grid-template-columns: 1fr;
    }

    .career-banner {
        display: none;
    }

    .career-container {
        margin-top: 68px;
        padding: 1em 2em;
        padding-bottom: 0;
    }

    .career-header h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .career-main {
        width: 100%;
        margin: 3em auto;
    }
    
    .career-main-img img{
        width: 100%;
        display: block;
    }

    .career-card-flex {
        flex-direction: column;
    }
    
    .career-card {
        width: 100%;
        color: #001D45;
        margin-bottom: 2em;
    }

    .early-career-container {
        margin-top: 62px;
        padding: 2em;
    }

    .early-career-content {
        width: 100%;
        margin: 0;
    }

    .top-band, .top-band-B {
        display: none;
    }

    .early-career-img {
        display: none;
    }

    .contact-container {
        padding: 1em;
        padding-block: 3em;
        background: #001D45;
    }

    .contact-title {
        margin-left: .7em;
        color: #fff;
    }

    .contact-q-container {
        padding: 2em;
    }

    .options {
        width: 100%;
        margin-left: 0;
    }

    .answer-text {
        font-size: 15px;
        line-height: 24px;
        margin-right: 0;
    }

    .contact-btn {
        margin-left: 0;
        width: max-content !important;
    }

    .btn-img {
        display: none;
    }

    .btn {
        width: max-content !important;
    }

    .history-cover {
        height: 100vh;
        padding-top: 0;
        display: flex;
        justify-content: center;
    }

    .insight-btn button{
        width: max-content;
    }

    .main-content {
        margin-top: 0;
    }


    /* sthenic cap mgt group */

    .about-us-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }
    
    .about-us-cover h3 {
        width: 100%;
        font-size: 30px !important;
        line-height: 42px !important;
    }

    .about-us-main {
        padding-inline: 2em;
        padding-bottom: 4em;
        width: 100%;
    }

    .about-us-title h3 {
        margin-bottom: 1em;
    }

    .p-flex {
        flex-direction: column;
    }

    .p-flex-item {
        width: 100%;
    }

    .story-flex {
        flex-direction: column;
    }

    .story-text {
        width: 100%;
    }

    .story-img {
        width: max-content;
    }

    .about-more-info-text {
        width: 100%;
        padding-inline: 0;
    }

    .about-more-info-text h2,
    .about-more-info-text p {
        width: 100%;
    }

    .our-funds-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }

    .our-funds-cover h3 {
        width: 100%;
        font-size: 36px;
    }
    
    .our-funds-cover p {
        width: 100%;    
    }

    .fund-main {
        padding-inline: 2em;
    }

    .thesis-grid {
        grid-template-columns: 1fr;
    }

    .thesis-item h4 {
        margin-bottom: 0.5em;
    }

    .structure-img {
        width: 100%;
    }

    .structure-img img {
        width: 100%;
    }

    .our-products-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }

    .our-products-cover h3 {
        width: 100%;
        font-size: 36px;
    }

    .products-main {
        padding-inline: 1em;
        padding-bottom: 5em; 
    }

    .product-flex {
        flex-direction: column;
    }

    .product-text {
        width: 100%;
        order: 2;
    }

    .product-img {
        width: 100%;
        order: 1;
    }

    .investor-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }

    .investor-cover h3 {
        width: 100%;
        font-size: 32px;
    }

    .investor-cover p {
        width: 100%;
    }

    .investor-main {
        padding-inline: 2em;
        padding-bottom: 5em; 
    }

    .logo-wrapper {
        padding: 2em;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .logo-card {
        width: 121px;
        height: 79px;
    }

    .logo-card .img {
        width: 100%;
    }

    .logo-card .img img {
        width: 100%;
    }

    .logo-card-title {
        margin-top: 0;
    }

    .logo-card-title h3 {
        font-size: 12px;
    }

    fieldset {
        width: 100%;
        padding-inline: 2em;
    }

    .investees h3, .investees p{
        width: 100%;
        margin-top: 2em;
    }

    /* sthenic financial group */

    .about-us-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }
    
    .about-us-cover h3 {
        width: 100%;
        font-size: 36px;
    }

    .about-us-main {
        padding-inline: 2em;
        padding-bottom: 4em;
        width: 100%;
    }

    .our-strategy {
        padding: 2em;
        height: max-content;
    }

    .strategy-text {
        width: 100%;
    }

    .our-services-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }
    
    .our-services-cover h3 {
        width: 100%;
        font-size: 36px;
    }

    .services-main {
        padding-inline: 2em;
        padding-bottom: 4em;
        width: 100%;
    }

    .services-flex {
        height: max-content;
        width: 100%;
        flex-direction: column;
    }

    .services-img {
        width: 100%;
        order: 1;
    }

    .services-img img {
        height: 370px !important;
        object-fit: fill;
    }

    .services-text {
        width: 100%;
        order: 2;
    }

    .capabilities-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }
    
    .capabilities-cover h3 {
        width: 100%;
        font-size: 36px;
    }

    .capabilities-main {
        padding-inline: 2em;
        padding-bottom: 4em;
        width: 100%;
    }

    .cap-grp-flex {
        flex-direction: column;
        margin-bottom: 0;
    }

    .cap-grp-item {
        width: 100%;
        margin-bottom: 1em;
    }

    .dealbook-cover {
        padding-inline: 2em;
        padding-top: 62px;
    }
    
    .dealbook-cover h3 {
        width: 100%;
        font-size: 36px;
    }

    .deal-investor, .deal-potential {
        width: 80%;
    }

    .deal-investor img, .deal-potential img {
        width: 100%;
    }

    .dealbook-form-container {
        width: 100%;
        padding: 2em;
    }

    .dealbook-form {
        width: 100%;
    }

}

@media screen and (max-width: 375px) {
    .cover .title {
        font-size: 1.9rem;
        padding-top: 3em;
    }

    .subtitle h3 {
        margin-bottom: .5em;
        font-size: 1.4rem;
    }

    .main-content {
        padding: 3em 2em;
    }

    .contact-title {
        margin-left: .5em;
        color: #fff;
    }

    .contact-q-container {
        padding: 1em;
    }

    .label {
        padding: .5em;
        background: #fff;
        width: 35px;
        height: 35px;
        margin-right: 1em;
    }

    .answer-text {
        font-size: 14px;
        line-height: 24px;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .cover .title {
        font-size: 1.7rem;
        padding-top: 3em;
    }

    .subtitle h3 {
        margin-bottom: .5em;
        font-size: 1.2rem;
    }
}


